

@import  url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    
}
header{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul a{
    text-decoration: none;
    padding: 6px 15px ;
    color: #fff;
    border-radius: 20px;
}
header ul a:hover, header ul a .active {
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1c0522,transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
section img #moon{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;
}
#text{
    position: absolute;
    color: #fff;
    white-space: normal;
    font-size: 6.5vw;
    z-index: 9;
    
}
.btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    transform: translateY(100px);
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h3{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.Parent__Container {
    background: #1c0522;
}
.sec p{
    font-size: 1.5em;
    color: #fff;
}
.main{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    background: transparent;
    display: flexbox;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
}
img{
    object-fit: cover;
    max-width: 100%;
}
.ui-ux{
    width: 400px;
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
}
.ui-ux img{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.ui-ux:hover .descr h3{
    opacity: 1;
}
.ui-ux:hover .descr p{
    opacity: 1;
}
.ui-ux:hover .descr a{
    opacity: 1;
}
.ui-ux:hover img{
    transform: scale(1.1) translateY(-20px);
    transition: all 0.3 ease-out;
    opacity: 0.3;
}
.descr{
    position: relative;
    left: 0; bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.descr h3{
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
}
.descr a{
    color: #fff;
    background: #34aff3;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
}
.descr a:hover{
    background: #0e6290;
}
.descr p{
    /*transform: translateY(30px);*/
    opacity: 0;
}
.Content__Second {
    position: relative;
    padding: 100px;
}
div .Title__Content__Second:nth-child(1) {
color: white;
font-size: 3.5rem;
font-weight: 600;
}

div .Title__Content__Second:nth-child(2) {
color: white;
margin-top: 10px;
font-size: 22px;
}

.produce__Container {margin: 0px 50px 0px 50px;width: 300px;height: 350px;position: relative;}

.Img__Produce {width: 300px;overflow: hidden;height: 75%;background: #00000061;}

.title__Produce {
opacity: 1;
transition: 0.5s;
padding: 5px;
}

.title__Produce div {color: whitesmoke;margin: 0px 0px 5px 0px;/* transition: 0.5s; */}
.Img__Produce img {
transition: 1s;
width: 100%;
height: 100%;
transform: scale(1);
}
.produce__Container:hover .Img__Produce img {
transform: scale(1.5);
overflow: hidden;
}

.produce__Container:hover .title__Produce {
/* opacity: 0; */
transition: 0.5s;
opacity: 0;
visibility: hidden;
}
.Click__changePage a {
    z-index: 1;
    opacity: 0;
    display: block;
    visibility: hidden;
    top: 83%;
    text-decoration: none;
    position: absolute;
    color: aliceblue;
    transition: 0.5s;
    background: aquamarine;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px white;
    border-style: none;
    /* right: 15%; */
}

.Click__changePage {
    justify-content: center;
    width: 100%;
    /* position: relative; */
    display: flex;
}

.Click__changePage a:hover {
    opacity: 1;
    /* visibility: visible; */
    box-shadow: 0px 0px 5px aquamarine;
    color: black;
    background: #3b937e;
    /* display: none; */
    visibility: visible;
}
.List__Content {
    overflow: hidden;
    display: flex;
    /* justify-content: space-around; */
}

.produce__Container:hover .Click__changePage a {
    opacity: 1;
    /* visibility: visible; */
    /* box-shadow: 0px 0px 5px aquamarine; */
    /* color: black; */
    /* background: #3b937e; */
    /* display: none; */
    visibility: visible;
}
.OverLay__Background {
    transition: 0.5s;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005e;
    opacity: 0;
}

.produce__Container:hover .OverLay__Background{
    opacity: 1;
    z-index: 1;
    visibility: visible;
}
